* {
  padding: 0px;
  box-sizing: border-box;
  margin: 0px;
  font-family: "Montserrat", sans-serif;
  color: white;
}

html {
  background-image: url(./assets/bg-gradient.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-size: cover;
  background-color: #030311;
}

.hero-img {
  background: lightgray 50% / cover no-repeat;
  background-size: auto 100%;
  background-repeat: no-repeat;
  box-shadow: 0px 0.5px 0px 0px rgba(255, 255, 255, 0.5) inset,
    0px -2px 10px 0px rgba(233, 223, 255, 0.3),
    0px -2px 40px 0px rgba(187, 155, 255, 0.15);
}
